@font-face {
  font-family: "iconfont"; /* Project id 4788464 */
  /* Color fonts */
  src: 
       url('//at.alicdn.com/t/c/font_4788464_7ylqcviqznq.woff2?t=1734663202640') format('woff2'),
       url('//at.alicdn.com/t/c/font_4788464_7ylqcviqznq.woff?t=1734663202640') format('woff'),
       url('//at.alicdn.com/t/c/font_4788464_7ylqcviqznq.ttf?t=1734663202640') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 25px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github3:before {
  content: "\e70b";
}

.icon-shejiaoxinxi:before {
  content: "\e620";
}

.icon-cnblogs:before {
  content: "\e600";
}

.icon-jieshouyoujian:before {
  content: "\e780";
}

.icon-tubiaozhizuomoban:before {
  content: "\e607";
}

.icon-yinlehe:before {
  content: "\e68b";
}

.icon-youxishoubing:before {
  content: "\e644";
}

.icon-yule:before {
  content: "\e6d8";
}

.icon-tubiaozhizuomoban-:before {
  content: "\e613";
}

.icon-dianying:before {
  content: "\e60a";
}

.icon-wenzhang:before {
  content: "\e76e";
}

.icon-jianlitoudi:before {
  content: "\e64c";
}

.icon-sekuaichouti:before {
  content: "\e614";
}

.icon-WEBSITE:before {
  content: "\e606";
}

.icon-idea:before {
  content: "\e664";
}

.icon-biaoqian:before {
  content: "\e6bb";
}

.icon-dapingjiankong:before {
  content: "\e602";
}

.icon-icon-suijiyige:before {
  content: "\e60e";
}

.icon-statistics:before {
  content: "\e7ce";
}

.icon-fun:before {
  content: "\e605";
}

.icon-yule1:before {
  content: "\e60f";
}

.icon-guanyu1:before {
  content: "\e692";
}

.icon-gerenziliao:before {
  content: "\e768";
}

.icon-guidang:before {
  content: "\e603";
}

.icon-Favroites:before {
  content: "\e804";
}

.icon-house:before {
  content: "\e891";
}

.icon-a-heibankechengxuexijiaoyu:before {
  content: "\e99e";
}

